body{
    margin: 0 0 0 0;
}

.header{
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: rgb(127, 178, 255);
    color:#e5e9e6 ;
    display: flex;
    align-items: center;
}

.header h1{
    font-size: 50px;
    margin: 15cm;
}

.header img  {
  width: 170px;
  height: 140px;
  margin:-3.7cm;
}
 .tablas h2{
  font-size: 30px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin:auto
}

td, th {
  border: 1px solid hsl(0, 0%, 0%);
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
